@media (max-width: 1200px) {
  .header {
    padding-top: 40px;
      &__inner {
        padding: 0 40px;
      }
  }
  .hero {
    padding: 0;
  }
  .hero__inner {
    background-image: url('../img/hero_mobile.svg');
    background-repeat: no-repeat;
    padding: 20px;
      .hero_text {
        padding: 0;
        margin-bottom: 120px;
        padding-left: 40px;
          h1 {
            font-size: 60px;
            line-height: 70px;
            max-width: 450px;
          }
        .description {
          max-width: 400px;
        }
      }
  }
  .section {
    margin-bottom: 80px;
  }
  .about {
    padding: 0 40px !important;
      .page__item_body {
        flex-direction: column;
          .left {
            width: 100%;
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .right {
            width: 100%;
            text-align: center;
          }
      }
  }
  .page__item_body .body_row {
    width: 100%;
    flex-direction: column-reverse;
    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
        h3 {
          margin-bottom: 32px;
          margin-left: 0;
          text-align: center;
          width: auto;
        }
        p {
          padding-left: 0;
          text-align: center;
        }
    }
    .right {
      width: 100%;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .page__item_body .body_row h3:before {
    position: absolute;
    top: auto;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
  .standart_section {
    padding: 0 40px !important;
  }
  .page__item_header {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
      h2 {
        margin-bottom: 30px;
        letter-spacing: -1px;
        font-size: 36px;
      }
  }
  .page__item_body .reverse .right {
    margin-left: 0;
  }
  .pib_tile__item {
    width: 100%;
    margin-bottom: 32px;
    margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
  }
  .pib_tile .short_section {
    width: 100%;
  }
  .pib_tile .btn_section {
    width: 100%;
    justify-content: flex-start;
  }
  .gradient .section {
    margin-bottom: 40px;
  }
  .header_simple {
    h2 {
      margin-bottom: 0;
    }
  }
  .pib_tile__block {
    width: 100%;
    margin-right: 0;
      .left {
        width: auto !important;
        margin-bottom: 0 !important;
      }
      .right {
        text-align: lEFT !important;
      }
  }
  .custom_tile .pib_tile__item {
    width: 100%;
  }
  .copyright {
    display: none;
  }
  .footer__inner {
    border-bottom: 1px solid #CDDAE7;
  }
  .cop_mobile {
    display: flex;
    margin-bottom: 32px;
    padding-top: 32px;
  }
  .slider_arrows {
    width: 100%;
    padding: 0 40px;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
      .arrow {
        width: 60px;
        background-color: $font-color_dark;
          &:after {
            border-color: $font-color_dark;
          }
      }
      .arrow_left {
        width: 60px;
        margin-right: 20px;
        .arrow {
          &:after {
            right: auto;
            left: 0;
            transform: rotate(-45deg);
          }
        }
      }
    .arrow_right {
      width: 60px;
    }
  }
  .tile_names {
    .pib_tile__item {
      width: 33.333%;
    }
  }
  .hero__inner .hero_text .description {
    display: none;
  }
  .hero__inner {
    justify-content: flex-start;
  }
  .hero__inner .hero_text {
    margin-top: 140px;
    margin-bottom: 0;
  }
  .text_mobile {
    display: block;
  }
  .logo_carousel__inner .logo_item {
    margin-right: 0;
    padding: 0 40px;
  }
  .madein_mobile {
    display: flex;
  }
}

@media (max-width: 640px) {
  .btn .arrow {
    position: static;
  }
  .by {
    display: none;
  }
  .mb {
    display: block;
  }
  .header {
    padding-top: 20px;
    &__inner {
      padding: 0 20px;
        .left {
          img {
            width: 80px;
          }
        }
      .right {
        img {
          width: 80px;
        }
        p {
          margin-right: 6px;
          margin-bottom: 4px;
        }
      }
    }
  }
  .tile_names {
    .pib_tile__item {
      width: 100%;
      align-items: center;
    }
  }
  .hero {
    .hero__inner {
      background-position: bottom;
      justify-content: flex-start;
    }
    .hero_text {
      margin-bottom: 0;
      padding-left: 0;
      padding-top: 30%;
      h1 {
        font-size: 40px;
        line-height: 46px;
        max-width: 280px;
      }
      .description {
        display: none;
      }
    }
  }
  .btn {
    background-color: transparent;
    color: $color-violet;
    border: 0;
    font-family: $font-family_medium;
    padding: 0;
    height: auto;
      .arrow {
        background-color: $color-violet;
          &:after {
            border-color: $color-violet;
          }
      }
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      background-color: transparent;
      border-color: transparent;
    }
  }
  .section {
    margin-bottom: 40px;
  }
  .about {
    padding: 0 20px !important;
  }
  .page__item_header h2 {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .header_simple {
    margin-bottom: 0;
  }
  .page__section {
    margin-bottom: 40px;
  }
  .about .page__item_body .right {
    width: 100%;
    text-align: left;
  }
  .page__item_body .right .bold {
    margin-bottom: 20px;
  }
  .about .page__item_body {
    padding-bottom: 40px;
  }
  .standart_section {
    padding: 0 20px !important;
  }
  .page__item_body .body_row {
    margin-bottom: 40px;
    flex-direction: column;
      h3 {
        font-size: 24px;
        text-align: left;
          &:before {
            transform: none;
            left: 0;
          }
      }
      .right {
        margin-bottom: 0;
        img {
          width: 100%;
        }
      }
      .left {
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 40px;
          p {
            text-align: left;
          }
      }
  }
  .page__item_body .body_row:last-child {
    margin-bottom: 40px;
  }
  .btn_simple {
    background-color: $color-violet;
    height: 48px;
    color: #fff;
    width: 100%;
      &:hover,
      &:focus,
      &:active {
        background-color: $font-color_dark;
      }
  }
  .pib_tile__block {
    flex-direction: column;
      .left {
        margin-right: 0;
        margin-bottom: 20px !important;
      }
      .right {
        text-align: center;
          .block_title {
            text-align: center;
          }
        .simple_text {
          text-align: center;
        }
        p {
          text-align: center;
            .link {
              justify-content: center;
            }
        }
      }
    //&:last-child {
    //  margin-bottom: 0;
    //}
  }
  .page__item_header {
    margin-bottom: 30px;
  }
  .footer__inner {
    padding: 20px;
      .logo {
        img {
          width: 80px;
        }
      }
  }
  .powered {
    img {
      width: 80px;
    }
  }
  .last_section {
    margin-bottom: 0;
  }
  .cop_mobile {
    display: flex;
    margin-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      p:first-child {
        margin-bottom: 5px;
      }
  }
  .footer {
    padding: 0;
  }
  .popup {
    top: 50%;
    transform: translate(50%,-50%) !important;
  }
  .page__item_body {
    .left img {
      width: 100%;
    }
  }
  .pib_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      a {
        width: 100%;
      }
      .btn {
        width: 100%;
        max-width: 100%;
      }
  }
  .hero__inner {
    justify-content: center;
  }
  .hero__inner .hero_text {
    margin-top: 0;
    margin-bottom: 120px;
  }
  .header__inner .right .lang {
    margin-right: 20px;
  }
  .btn_simple {
    padding: 10px 30px;
    width: 100%;
  }
  .btn_a {
    width: 100%;
  }
}

//iphone 10/11
@media (max-width: 640px) and (min-height: 700px) {
  .hero {
    .hero__inner {
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
}

//iphone 6/7/8
@media (max-width: 640px) and (max-height: 700px) {
  .hero .hero_text h1 {
    font-size: 32px;
    line-height: 38px;
    max-width: 100%;
  }
}


//phone landscape

@media (max-width: 900px) and (max-height: 500px) {
  .hero {
    .hero__inner {
      .hero_text {
        margin-bottom: 0;
        padding-top: 15%;
        h1 {
          font-size: 48px;
          line-height: 56px;
          max-width: 450px;
        }
      }
    }
  }
}

//macbook screen

@media (max-height: 700px) and (min-width: 1200px) {
  .hero__inner {
    -webkit-background-size: 70%;
    background-size: 70%;
    background-position: right;
  }
}

//1920 screen

@media (min-width: 1600px)  {
  .hero__inner {
    -webkit-background-size: 80%;
    background-size:80%;
    background-position: right bottom;
  }
}