.btn {
  position: relative;
  vertical-align: top;
  //height: 60px;
  padding: 10px 70px 10px 30px;
  //border-radius: 30px;
  border-radius: 8px;
  height: 48px;
  border-width: 1px;
  border-style: solid;
  border-color: $color-violet;
  background-color: $color-violet;
  color: #fff;
  font-family: $font-family;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  width: auto;
  outline: 0;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  //min-width: 210px;
  .arrow {
    animation: arr 0.5s infinite ease-in-out alternate;
  }
    span {
      margin-left: 12px;
    }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    background-color: #575A89;
    border-color: #575A89;
  }
  
  &:hover,
  &:focus {
    outline: 0;
  }
  
  &:active {
    outline: 0;
    text-decoration: none;
    background-color: #fff;
    color: $color-violet;
    border-color: $color-violet;
  }
}

.btn_simple {
  text-align: center;
  justify-content: center;
  padding: 10px 30px;
}

.btn_disabled {
  border-color: $color-gray-40;
  background-color: $color-gray-10;
  color: $color-gray-60;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-40;
    background-color: $color-gray-10;
    color: $color-gray-60;
  }
}