.footer {
  padding: 0 40px;
  background-color: #fff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.footer__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
    p {
      display: flex;
      align-items: center;
      opacity: 0.9;
    }
    p:first-child {
      margin-right: 12px;
    }
}

.cop_mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: auto;
  p {
    display: flex;
    align-items: center;
    opacity: 0.9;
  }
  p:first-child {
    margin-right: 12px;
  }
}