.link {
  vertical-align: top;
  text-decoration: none;
  transition: all .2s;
  color: $color-violet;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: $font-family_medium;

    .arrow {
      margin-left: 10px;
      transition: all .2s;
      top: 1px;
      background-color: $color-violet;
        &:after {
          border-color: $color-violet;
        }
    }

  &:hover {
    color: $font-color_dark;
    .arrow {
      margin-left: 10px;
      transition: all .2s;
      width: 40px;
      background-color: $font-color_dark;
      &:after {
        border-color: $font-color_dark;
      }
    }
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_disabled {
  margin-left: 4px;
  cursor: pointer;
  color: $font-color_dark;
  border-bottom: 1px solid $font-color_dark;
}

.link_simple {
  text-transform: none;
  font-family: $font-family_medium;
  font-size: 18px;
    img {
      display: block;
    }
}

.text_link {
  display: inline-block;
}

a {
  text-decoration: none;
  background-color: transparent;
}